@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #00001A;
}

:root {
    --fz: 16px;
    --theme--contrast-0: #121212;
    --theme-body-bg: #18061f;
    --theme-body-txt: rgb(220,252,231);
    --search-size-mx-h: 3rem;
    --zIndex-header: 20;
    --zIndex-component: 5;
    --brand-color_1: #00ff99;
    --brand-color_2: #00ccff;
    --brand-color_3: #9933ff;
    --brand-color_4: tomato;
    --brand-color_5: #fff35c;
    --brand-color_6: #8429de;
  }